@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"), url("fonts/Inter-Regular.woff");
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Bold"), url("fonts/Inter-Bold.woff");
  font-weight: 700;
  font-style: bold;
  display: swap;
}

@font-face {
  font-family: "Forum";
  src: local("Forum-Regular"), url("fonts/Forum-Regular.woff");
  font-weight: 400;
  font-style: normal;
  display: swap;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

a,
a:visited {
  color: #ffffff;
}

button {
  color: #000000;
}

header {
  background-color: #0c0c0e;
  margin: auto;
  position: unset;
  overflow: hidden;
}

.main_title {
  color: white;
  padding-left: 20px;
  line-height: 50px;
  letter-spacing: 0.7px;
  font-size: 30px;
  font-family: "Forum";
  font-weight: 400;
}

.header_container {
  display: flex;
  background-color: #0c0c0e;
  justify-content: space-between;
  max-height: 91px;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 20px 0px 20px 0px;
  z-index: 60;
  overflow:hidden;
}

.header_right_side {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation_list {
  display: flex;
  align-items: center;
}
.navigation_list_item {
  list-style: none;
  margin: 0px 30px 0px 0px;
}
.last_item {
  margin-right: 20px;
}

.navigation_link {
  color: white;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 50px;
}

.burger_menu {
  width: 50px;
  height: 40px;
  cursor: pointer;
  margin-right: 20px;
  padding: 8px 0px 10px 6px;
  position: relative;
  transition: 0.3s ease-in;

  transition: 0.2s ease-out;
}

.menu_button_first_line {
  content: "";
  width: 45px;
  height: 1px;
  margin-bottom: 10px;
  background-color: #ffffff;
  position: absolute;
  transition: 0.3s ease-in;

  transition: 0.1s ease-out;
}

.menu_button_second_line {
  content: "";
  width: 45px;
  height: 1px;
  margin-top: 10px;
  background-color: #ffffff;
  position: absolute;
  transition: 0.4s ease-in;

}

.menu_button_third_line {
  content: "";
  width: 45px;
  height: 1px;
  margin-top: 20px;
  background-color: #ffffff;
  position: absolute;
  transition: 0.3s ease-in;

  transition: 0.1s ease-out;
}

.profile_icon {
  background-image: url(svg/icon_profile.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0c0c0e;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin: 0px 20px;
}

.banner {
  width: 100%;
  margin: auto;
  height: 600px;
  background-image: url("Welcome.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 0;
  background-size: cover;
}

.banner::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  opacity: 0.3;
  z-index: 0;
  background: linear-gradient(
    180deg,
    #0c0c0e 0%,
    #0c0c0e 0.01%,
    rgba(18, 18, 21, 0.1) 50%
  );
}

.banner_content {
  width: 100%;
  margin: auto;
  height: 100%;
  position: relative;
  z-index: 1;
  max-width: 1440px;
}

.welcoming_note_wrapper {
  content: "";
  position: absolute;
  background: #000000;
  top: 220px;
  right: 840;
  bottom: 160px;
  left: 0;
  padding: 35px 40px;
  color: #fff;
  width: 600px;
  z-index: 2;
}

.welcoming_text {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  font-family: "Forum";
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
}

.main_information {
  max-width: 1440px;
  margin: auto;
}

.section_titles {
  text-align: center;
  font-family: "Forum";
  font-weight: 400;
  color: #0c0c0e;
  font-size: 40px;
  padding-top: 18px;
  letter-spacing: 2px;
}

.section_titles::after {
  content: "";
  display: block;
  background-color: #0c0c0e;
  width: 50px;
  height: 1px;
  margin: 18px auto 47px auto;
}

.library_description {
  color: #000000;
  font-weight: 400;
  font-style: normal;
  font-family: "Inter";
  font-size: 20px;
  text-align: center;
  margin-bottom: 29px;
}

.library_photos {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0px 20px;
  align-items: center;
}

.library_photo {
  height: 560px;
  width: 32.14%;
  margin-bottom: 34px;
  position: relative;
}

.swiper {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.swiper_left {
  width: 6px;
  height: 10px;
  background-image: url("svg/Vector.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 6px 0px 19px 20px;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
}
.swiper_right {
  width: 6px;
  height: 10px;
  background-image: url("svg/Vector.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  vertical-align: middle;
  border: 0;
  padding: 8px 30px 15px 0px;
  transform: rotate(180deg);
  cursor: pointer;
}

.slider {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.slider_area {
  width: 26px;
  height: 26px;
  border-radius: 10%;
  cursor: pointer;
}
.slider_elements {
  height: 61.54%;
  width: 61.54%;
  background-color: #0c0c0e;
  border-radius: 50%;
  margin: 5px 5px;

  cursor: pointer;
  border: none;
}
.first_element {
  background-color: #bb945f;
}

.pick_favorites_title {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter";
  margin-top: -6px;
}

.pick_season_favorite_buttons {
  padding: 38px 0px 40px 20px;
}

.custom_radio {
  font-size: 20px;
  font-weight: 400;
  vertical-align: middle;
  font-family: "Inter";
  line-height: 24.2px;
}

.seasons {
  padding: 10px 20px 24px 0px;
  margin-right: 67px;
  cursor: pointer;
}
.custom_radio:focus {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-image: url("svg/Group.svg");
  background-repeat: no-repeat;
  background-size: 17px 17px;
  position: absolute;
}

.custom_radio::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  position: relative;
  padding-left: 20px;
  background-image: url("svg/Ellipse.svg");
  background-repeat: no-repeat;
  background-size: 17px 17px;
}
.radio_button:checked + .custom_radio::before {
  background-image: url("svg/Group.svg");
}

input[type="radio"]:checked + span {
  font-weight: bold;
}

.radio_button {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.radio_button:hover,
.custom_radio:hover {
  cursor: pointer;
}

.recommendations {
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.books {
  border: 1px solid #000000;
  width: 550px;
  height: 555px;
  margin-bottom: 40px;
  display: flex;
  z-index: 0;
}

.second_book,
.fourth_book {
  margin-right: 40px;
}

.staff_picks {
  font-size: 20px;
  font-family: "Forum";
  font-weight: 400;
  color: #000000;
  line-height: 40px;
  letter-spacing: 2px;
}

.staff_picks::after {
  content: "";
  display: block;
  background-color: #bb945f;
  width: 60px;
  height: 1px;
  margin: 0px 0px 18px 0px;
}
.text_wrapper {
  display: flex;
  flex-grow: 2;
  width: 590px;
  height: 555px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 13px 0px 15px 20px;
}

.book_title {
  font-family: "Inter";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 1.9px;
}
.author {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.9px;
}

.book_description {
  width: 96%;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1.9px;
  padding-top: 20px;
  text-transform: capitalize;
}

.buttons {
  width: 75px;
  height: 30px;
  border: 1px solid #0c0c0e;
  background-color: #fff;
  font-family: "Inter";
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
}

.favorites_button {
  margin-top: auto;
}

.last_book {
  border: 1px solid #bb945f;
  color: #bb945f;
}

.book_cover {
  margin-right: -40px;
  margin-bottom: -1px;
  align-self: flex-end;
  height: 300px;
}

.spring,
.autumn,
.summer {
  display: none;
}

.coffee_shop {
  margin-bottom: 42px;
}

.coffeeshop_description {
  padding: 0px 20px 40px 20px;
  margin-top: -9px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 40px;
}

.titles_wrapper {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.menu_wrapper {
  display: flex;
  justify-content: space-between;

  padding: 0px 20px;
}

.food {
  padding-right: 3px;
}
.menu_components {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 40px;
}

.drinks .menu_item {
  width: 199px;
}
.menu_item {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 40px;
}

.menu_title {
  font-family: "Forum";
  font-weight: 400;
  color: #bb945f;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 40px;
}

.drinks .menu_title {
  text-align: left;
}

.food .menu_title {
  text-align: right;
}

.line {
  background-color: #bb945f;
  width: 100px;
  height: 1px;
  flex-basis: 1;
  margin: 0px 60px;
}

.contacts_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: -6px;
}

.contacts {
  font-size: 20px;
  font-family: "Inter";
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  padding-bottom: 40px;
}

.inquiries {
  font-family: "Inter";
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 0px 0px 20px 0px;
}

.number {
  color: #000000;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 20px;
}

.email {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  font-family: "Inter";
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 20px;
}

.director_contact {
  padding-bottom: 20px;
}

.map {
  height: 414px;
  margin-bottom: 40px;
}

.library_cards_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.signup_and_login {
  margin-top: -7px;
  text-align: end;

  width: 462px;
}
.form_header {
  text-align: center;
  font-size: 27px;
  margin-bottom: 30px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 36.31px;
  letter-spacing: 2px;
  margin-top: -8px;
}

.form_borderline {
  border: 3px solid #bb945f;
  width: 600px;
  padding: 18px 18px 26px 18px;
  position: relative;
  margin-bottom: 42px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
}

.inputs_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 18px 20px 25px 20px;
  background-color: #bb945f;
}

.form_title {
  margin-bottom: 20px;
  font-family: "Forum";
  font-weight: 400;
  font-size: 29px;
  line-height: 50px;
  letter-spacing: 1px;
}

.inputs {
  width: 100%;
  border-radius: 10px;
  height: 66px;
  border: none;
  padding: 16px 0px 8px 20px;
}

.inputs::placeholder {
  color: #8e8e8e;
  font-family: "Forum";
  font-weight: 400;
  font-size: 29px;
  line-height: 30px;
  letter-spacing: 1px;
}

.inputs:focus {
  outline: 2px solid #8e8e8e;
}

.reader_name {
  margin-bottom: 25px;
}

.form_button {
  width: 242px;
  height: 44px;
  margin: 20px auto auto auto;
  font-size: 20px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border: 1px solid #0c0c0e;
  border-radius: 2px;
}

.get_a_card {
  font-family: "Forum";
  font-weight: 400;
  line-height: 33.12px;
  letter-spacing: 1px;
  font-size: 29px;
  color: #000000;
}

.registration_description {
  font-family: "Inter";
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.9px;
  font-size: 19px;
  margin-top: 34px;
  margin-bottom: 36px;
}

.signup_button {
  margin-right: 17px;
  font-size: 10px;
  line-height: 12.1px;
}

.signup_button,
.login_button {
  letter-spacing: 0.8px;
}

footer {
  background-color: #0c0c0e;
  width: 100%;

  margin: auto;
}

.address_info {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 21px 20px 0px 20px;
  width: 100%;
  margin: auto;
}

.address {
  display: block;
  width: 222px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-style: normal;
}

.socials_wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 18px 0px 36px 0px;
}
.socials-link {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.twitter {
  background-image: url("svg/twitter.svg");
  margin-right: 17px;
}
.instagram {
  background-image: url("svg/instagram.svg");
  margin-right: 15px;
}

.facebook {
  background-image: url("svg/facebook.svg");
}

.socials-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer_right_side {
  text-align: end;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}
.working_hours {
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
  font-style: normal;
}

.footer_line {
  content: "";
  display: block;
  background-color: #ffffff;
  width: 97.22%;
  max-width: 1400px;
  height: 1px;
  margin: auto;
}

.rs_copyright {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 46px 20px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  font-size: 20px;
}

@media screen and (min-width: 941px) {
  .burger_menu {
    display: none;
  }

  .nav_close {
    display: none;
  }

  a:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
  }

  button:not([disabled], .nav_close, .profile_icon, .slider_elements, .swiper_left, .swiper_right):hover {
    background-color: #bb945f;
    border: 1px solid #bb945f;
    transition: 0.5s;
    color: #000000;
  }
}

@media (max-width: 940px) {
  header {
    position: relative;
    overflow: hidden;
  }
  .banner {
    background-image: url("welcome_tablet.png");
    z-index: 1;
  }

  .navigation {
    content: "";
    width: 43.23%;
    height: 500px;
    position: absolute;
    top: 70px;
    right: -400px;
    z-index: 10;
    background-color: #0c0c0e;
    transition: 0.4s linear;
    align-items: flex-start;
  }
  .navigation_active {
    right: 0px;
    align-items: flex-start;
  }
  .navigation_list {
    content: "";
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 590px;
    position: absolute;
    z-index: 30;
    top: 0px;
    right: 0px;
    justify-content: flex-start;
  }
  .navigation_list_item {
    width: 100%;
    padding-top: 30px;
  }

  .burger_menu_active .menu_button_first_line {
    transform: rotate(-45deg);
    margin: 10px 0px 0px 0px;
  }

  .burger_menu_active .menu_button_second_line {
    right:-2000px;
  }
  .burger_menu_active .menu_button_third_line {
    transform: rotate(45deg);
    margin: 10px 0px 0px 0px;
  }

  .profile_icon {
    z-index: 10;
    margin: 0px 12px;
  }
}
@media (min-width: 1229px) {
  .hidden_button {
    display: none;
  }
  .swiper {
    display: none;
  }
}

@media (min-width: 941px) and (max-width: 1229px) {
  .navigation_list_item {
    margin: 0px 20px 0px 0px;
  }
  .navigation_link {
    font-size: 20px;
  }

  .last_item {
    margin: 0px 10px 0px 0px;
  }

  .library_photos {
    display: flex;
    justify-content: center;
  }

  .library_photo {
    max-width: 450px;
  }
  .hidden_photo {
    display: none;
  }
  .recommendations {
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

  .second_book,
  .fourth_book {
    margin-right: 0px;
  }

  .map {
    width: 65%;
  }

  .form_borderline {
    width: 560px;
  }
  .registration_description {
    letter-spacing: 0px;
  }
}

@media (min-width: 769px) and (max-width: 940px){
  .profile_icon {
    transform: translate(-21px);
  }
  .library_photos {
    display: flex;
    justify-content: center;
  }

  .library_photo {
    width: 450px;
  }
  .hidden_photo {
    display: none;
  }

  .seasons {
    padding-right: 8px;
  }

  .recommendations {
    width: 94%;
    padding: 0px 20px;
  }
  .books {
    margin: 0px auto 40px auto;
  }

  .drinks {
    margin-bottom: 40px;
  }
  .drinks .menu_components {
    justify-content: flex-start;
  }
  .food .menu_components {
    justify-content: flex-end;
  }

  .menu_wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .contacts_wrapper {
    display: block;
  }
  .map {
    width: max-content;
  }
  .form_borderline {
    width: 480px;
  }
}

@media (max-width: 769px) and (min-width: 610px) {
  .profile_icon {
    transform: translate(-21px);
  }
  .recommendations {
    width: 94%;
    padding: 0px 20px;
  }
  .books {
    margin: 0px auto 40px auto;
    max-width: 560px;
  }

  .welcoming_note_wrapper {
    width: 78.13%;
  }

  .library_description {
    width: 95%;
    margin: -6px auto 24px auto;
    line-height: 38px;
  }

  .library_photos {
    display: flex;
    justify-content: center;
    margin-bottom: -14px;
  }

  .library_photo {
    width: 61.3%;
    margin-right: 32px;
    margin-left: 32px;
  }
  .hidden_photo {
    display: none;
  }

  .seasons {
    padding: 0px 68px 24px 0px;
    margin-right: 20px;
  }
  .last_radiobutton {
    padding-right: 0px;
  }
  .coffeeshop_description {
    padding-left: 10px;
    padding-right: 10px;
  }
  .drinks {
    margin-bottom: -40px;
  }
  .drinks .menu_components {
    justify-content: flex-start;
  }
  .food .menu_components {
    justify-content: flex-end;
  }
  .food {
    margin-bottom: -120px;
  }
  .menu_wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .line {
    width: 13.5%;
  }
  .price {
    font-size: 19px;
  }
  .contacts_wrapper {
    display: block;
  }
  .contacts_wrapper {
    display: block;
  }
  .map {
    width: 100%;
    margin: 79px auto 43px auto;
    padding: 0px 16px;
  }
  .digital_library_cards {
    margin-top: -8px;
  }
  .library_cards_wrapper {
    display: block;
  }
  .find_your_card {
    margin: auto;
  }
  .form_borderline {
    display: block;
    margin: auto;
    width: 82%;
    max-width: 600px;
  }

  .signup_and_login {
    margin: 26px 0px 40px 0px;
    width: 100%;
    text-align: center;
  }
  .registration_description {
    width: 76.82%;
    margin: 38px auto 40px auto;
  }

  .rs_link {
    text-align: center;
    transform: translate(-22px, 0px);
  }
  .username {
    text-align: right;
  }
}

@media (max-width: 610px) {
  .profile_icon {
    transform: translate(-21px);
  }

  .header_container {
    position: absolute;
  }

  .navigation_active {
    width: 56%;
    height: 500px;
  }
  .navigation_link {
    font-size: 22px;
  }
  .main_title {
    font-size: 15.7px;
    line-height: 24px;
    width: 160px;
    z-index: 22;
  }
  .welcoming_note_wrapper {
    width: 78.13%;
  }
  .welcoming_text {
    font-size: 20px;
    min-width: 178px;
    text-align: center;
    line-height: 40px;
  }
  .library_photos {
    gap: 0px;
  }

  .section_titles {
    padding-left: 20px;
    padding-right: 20px;
  }

  .library_photo {
    width: 100%;
    min-width: 290px;
  }
  .hidden_photo {
    display: none;
  }

  .swiper {
    display: none;
  }
  .pick_favorites_title {
    text-align: center;
  }
  .pick_season_favorite_buttons {
    text-align: center;
  }
  .seasons {
    display: block;
  }

  .seasons {
    padding: 0px 68px 24px 0px;
    margin-right: 20px;
  }
  .last_radiobutton {
    padding-right: 0px;
  }
  .last_radiobutton {
    padding-right: 68px;
  }

  .recommendations {
    width: 100%;
  }
  .books {
    margin: 0px auto 40px auto;
    width: 82.61%;
    height: fit-content;
  }
  .books .buttons {
    margin-top: 20px;
  }
  .book_cover {
    width: 80px;
    height: 130px;
  }
  .text_wrapper {
    height: 100%;
  }
  .book_title {
    font-size: 12px;
  }
  .author {
    font-size: 12px;
  }
  .book_description {
    font-size: 11px;
    line-height: 20px;
  }
  .coffeeshop_description {
    padding-left: 10px;
    padding-right: 10px;
  }
  .drinks {
    margin-bottom: -40px;
  }
  .drinks .menu_components {
    justify-content: flex-start;
  }
  .food .menu_components {
    justify-content: flex-end;
  }
  .food {
    margin-bottom: 0px;
    margin-top: 60px;
  }
  .menu_wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .menu_item {
    max-width: 80px;
  }
  .line {
    width: 13.5%;
  }
  .price {
    font-size: 19px;
  }
  .contacts_wrapper {
    display: block;
  }
  .contacts_wrapper {
    display: block;
  }
  .map {
    width: 100%;
    height: 200px;
    margin-top: 0px;
  }
  .digital_library_cards {
    margin-top: -6px;
  }
  .library_cards_wrapper {
    display: block;
  }
  .find_your_card {
    margin: auto;
  }
  .form_borderline {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
  }
  .inputs::placeholder {
    font-size: 16px;
  }
  .form_button {
    width: 160px;
    font-size: 12px;

    padding: 10px 10px;
  }
  .registration_description {
    margin-top: 40px;
  }

  .signup_and_login {
    margin: 26px 0px 40px 0px;
    width: 100%;
    text-align: center;
  }
  .registration_description {
    width: 76.82%;
    margin-left: auto;
    margin-right: auto;
  }
  .rs_link {
    text-align: center;
    transform: translate(-22px, 0px);
  }
  .username {
    text-align: right;
  }

  .address,
  .working_hours,
  .working_days,
  .rs_copyright {
    font-size: 10px;
  }

  .rs_link {
    padding-left: 20px;
  }
}
